<footer class="footer-area footer--light">
  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>Solucion desarrollada por
              <a href="https://www.linkedin.com/in/marco-cerda-veas/">Marco Cerda Veas</a>. Correo de contacto:
              <a href="mailto:marco.cerda.veas@gmail.com">marco.cerda.veas@gmail.com</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>