@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.mini-footer {
 background:#E3E1E1;
 font-family: "Roboto", Arial, sans-serif;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-family: "Roboto", Arial, sans-serif;
 font-size:15px;
 color:#995
}
.mini-footer p a {
 color:#5867dd
}
