@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

header{
	background:#E3E1E1;
}
h1 {
	font-family: "Roboto", Arial, sans-serif;
	text-align:center;
	font-size: calc(1.8em + 1.6vw);
	letter-spacing: .01em;
	text-shadow: .022em .022em .022em #111;
	color: #5867dd;
}
