.product-name {
    font-size: 1.3rem;
    font-weight: 400;
}

.product-description {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0 0 1rem 0;
}



.product-category {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    vertical-align: middle;
}

.product-grid-item {
    
    border: 1px solid #dee2e6;
}


.product-grid-item img {
    width: 12%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.product-grid-item-content {
    text-align: center;
}

.product-price {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.error {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    vertical-align: middle;
    color: #F71C03;
}

.descuento {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    vertical-align: middle;
    color: #22B22B;
}

.inputText {
    font-family: "Roboto", Arial, sans-serif;        
}.product-name {
    font-size: 1.3rem;
    font-weight: 400;
}

.product-description {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0 0 1rem 0;
}



.product-category {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    vertical-align: middle;
}

.product-grid-item {
    
    border: 1px solid #dee2e6;
}


.product-grid-item img {
    width: 12%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.product-grid-item-content {
    text-align: center;
}

.product-price {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.error {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    vertical-align: middle;
    color: #F71C03;
}

.descuento {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    vertical-align: middle;
    color: #22B22B;
}

.inputText {
    font-family: "Roboto", Arial, sans-serif;        
}