<span>
    Ingrese un texto o un Id de producto:
    <input type="search" pInputText placeholder="Enter id or string brand or description"
        (input)="searchProducts($event.target.value)" class="inputText">

    <div class="error">
        <p *ngIf="isError">{{ showError }}</p>
    </div>

    <div class="descuento">
        <p *ngIf="isPalindromo">Con descuento Palindromo</p>
    </div>

</span>

<div class="card">
    <p-dataView #dv [value]="data" [paginator]="true" [rows]="9" layout="grid" [emptyMessage]="empty">

        <ng-template let-product pTemplate="gridItem">

            <div class="p-col-3 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-content">
                        <img src="//{{product.image}}" alt="{{product.brand}}" />
                        <div class="product-category">{{product.id}}</div>
                        <div class="product-name">{{product.brand}}</div>
                        <div class="product-description">{{product.description}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.price}}</span>
                    </div>
                </div>
            </div>

        </ng-template>
        
    </p-dataView>
</div>