@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import '~primeicons/primeicons.css';
* {
    -webkit-box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}
